In [1]:
pip install kaggle

Requirement already satisfied: kaggle in c:\users\surya\anaconda3\lib\site-packages (1.6.17)
Requirement already satisfied: six>=1.10 in c:\users\surya\anaconda3\lib\site-packages (from kaggle) (1.16.0)
Requirement already satisfied: certifi>=2023.7.22 in c:\users\surya\anaconda3\lib\site-packages (from kaggle) (2024.12.14)
Requirement already satisfied: python-dateutil in c:\users\surya\anaconda3\lib\site-packages (from kaggle) (2.9.0.post0)
Requirement already satisfied: requests in c:\users\surya\anaconda3\lib\site-packages (from kaggle) (2.32.3)
Requirement already satisfied: tqdm in c:\users\surya\anaconda3\lib\site-packages (from kaggle) (4.66.5)
Requirement already satisfied: python-slugify in c:\users\surya\anaconda3\lib\site-packages (from kaggle) (5.0.2)
Requirement already satisfied: urllib3 in c:\users\surya\anaconda3\lib\site-packages (from kaggle) (2.2.3)
Requirement already satisfied: bleach in c:\users\surya\anaconda3\lib\site-packages (from kaggle) (4.1.0)
Requirement already satisfied: packaging in c:\users\surya\anaconda3\lib\site-packages (from bleach->kaggle) (24.1)
Requirement already satisfied: webencodings in c:\users\surya\anaconda3\lib\site-packages (from bleach->kaggle) (0.5.1)
Requirement already satisfied: text-unidecode>=1.3 in c:\users\surya\anaconda3\lib\site-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\surya\anaconda3\lib\site-packages (from requests->kaggle) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\surya\anaconda3\lib\site-packages (from requests->kaggle) (3.7)
Requirement already satisfied: colorama in c:\users\surya\anaconda3\lib\site-packages (from tqdm->kaggle) (0.4.6)
Note: you may need to restart the kernel to use updated packages.

In [3]:
import kaggle

In [5]:
!kaggle datasets download ankitbansal06/retail-orders -f orders.csv

Dataset URL: https://www.kaggle.com/datasets/ankitbansal06/retail-orders
License(s): CC0-1.0
orders.csv.zip: Skipping, found more recently modified local copy (use --force to force download)

In [9]:
#to extract zipfile
import pandas as pd
import zipfile
from io import BytesIO

In [15]:
df=pd.read_csv(r"C:\Users\SURYA\orders.csv.zip", compression="zip")
df.rename(columns={'Order Id': 'order_id' , 'Order Date':'order_date' , 'Ship Mode':'ship_mode' , 'Segment':'segment', 'Country' : 'country' ,'City':'city' ,'State':'state' ,'Postal Code':'postal_code','Region':'region','Category':'category','Sub Category':'sub_category','Product Id':'product_id','cost price':'cost_price' ,'List Price':'list_price','Quantity':'quantity','Discount Percent':'discount_percent'},inplace=True)

In [17]:
df.fillna({'ship_mode': 0 },inplace= True)

In [19]:
df.isnull().sum()

order_id            0
order_date          0
ship_mode           0
segment             0
country             0
city                0
state               0
postal_code         0
region              0
category            0
sub_category        0
product_id          0
cost_price          0
list_price          0
quantity            0
discount_percent    0
dtype: int64

In [21]:
df.sample()

,order_id,order_date,ship_mode,segment,country,city,state,postal_code,region,category,sub_category,product_id,cost_price,list_price,quantity,discount_percent
8984,8985,2023-10-05,Standard Class,Consumer,United States,Chicago,Illinois,60623,Central,Furniture,Tables,FUR-TA-10000849,130,150,2,3

In [23]:
df['discount']=df['list_price']*df['discount_percent']*.01
df['sale_price']=df['list_price']-df['discount']
df['profit']=df['sale_price']-df['cost_price']

In [25]:
order1 = df[['order_id','order_date','ship_mode','segment','country','city','state','postal_code','region','category']]

In [27]:
order2= df[['order_id','sub_category','product_id','cost_price','list_price','quantity','discount_percent','discount','sale_price','profit']]

In [29]:
order1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   order_id     9994 non-null   int64
 1   order_date   9994 non-null   object
 2   ship_mode    9994 non-null   object
 3   segment      9994 non-null   object
 4   country      9994 non-null   object
 5   city         9994 non-null   object
 6   state        9994 non-null   object
 7   postal_code  9994 non-null   int64
 8   region       9994 non-null   object
 9   category     9994 non-null   object
dtypes: int64(2), object(8)
memory usage: 780.9+ KB

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 19 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   order_id          9994 non-null   int64
 1   order_date        9994 non-null   object
 2   ship_mode         9994 non-null   object
 3   segment           9994 non-null   object
 4   country           9994 non-null   object
 5   city              9994 non-null   object
 6   state             9994 non-null   object
 7   postal_code       9994 non-null   int64
 8   region            9994 non-null   object
 9   category          9994 non-null   object
 10  sub_category      9994 non-null   object
 11  product_id        9994 non-null   object
 12  cost_price        9994 non-null   int64
 13  list_price        9994 non-null   int64
 14  quantity          9994 non-null   int64
 15  discount_percent  9994 non-null   int64
 16  discount          9994 non-null   float64
 17  sale_price        9994 non-null   float64
 18  profit            9994 non-null   float64
dtypes: float64(3), int64(6), object(10)
memory usage: 1.4+ MB

In [33]:
df.isnull().sum().sum()

0

In [35]:
df.isnull().sum()

order_id            0
order_date          0
ship_mode           0
segment             0
country             0
city                0
state               0
postal_code         0
region              0
category            0
sub_category        0
product_id          0
cost_price          0
list_price          0
quantity            0
discount_percent    0
discount            0
sale_price          0
profit              0
dtype: int64

In [37]:
!pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading mysql_connector_python-9.1.0-cp312-cp312-win_amd64.whl.metadata (6.2 kB)
Downloading mysql_connector_python-9.1.0-cp312-cp312-win_amd64.whl (16.1 MB)
   ---------------------------------------- 0.0/16.1 MB ? eta -:--:--
   - -------------------------------------- 0.5/16.1 MB 2.8 MB/s eta 0:00:06
   -- ------------------------------------- 1.0/16.1 MB 2.6 MB/s eta 0:00:06
   --- ------------------------------------ 1.6/16.1 MB 2.7 MB/s eta 0:00:06
   ----- ---------------------------------- 2.1/16.1 MB 2.8 MB/s eta 0:00:05
   ------ --------------------------------- 2.6/16.1 MB 2.7 MB/s eta 0:00:05
   -------- ------------------------------- 3.4/16.1 MB 2.7 MB/s eta 0:00:05
   --------- ------------------------------ 3.9/16.1 MB 2.7 MB/s eta 0:00:05
   ----------- ---------------------------- 4.5/16.1 MB 2.7 MB/s eta 0:00:05
   ------------ --------------------------- 5.0/16.1 MB 2.7 MB/s eta 0:00:05
   ------------- -------------------------- 5.5/16.1 MB 2.6 MB/s eta 0:00:04
   --------------- ------------------------ 6.0/16.1 MB 2.6 MB/s eta 0:00:04
   ---------------- ----------------------- 6.6/16.1 MB 2.6 MB/s eta 0:00:04
   ----------------- ---------------------- 7.1/16.1 MB 2.6 MB/s eta 0:00:04
   ------------------ --------------------- 7.6/16.1 MB 2.6 MB/s eta 0:00:04
   -------------------- ------------------- 8.1/16.1 MB 2.6 MB/s eta 0:00:04
   --------------------- ------------------ 8.7/16.1 MB 2.6 MB/s eta 0:00:03
   ---------------------- ----------------- 9.2/16.1 MB 2.6 MB/s eta 0:00:03
   ------------------------ --------------- 10.0/16.1 MB 2.6 MB/s eta 0:00:03
   ------------------------- -------------- 10.2/16.1 MB 2.6 MB/s eta 0:00:03
   -------------------------- ------------- 10.7/16.1 MB 2.6 MB/s eta 0:00:03
   ---------------------------- ----------- 11.5/16.1 MB 2.6 MB/s eta 0:00:02
   ------------------------------ --------- 12.1/16.1 MB 2.6 MB/s eta 0:00:02
   ------------------------------- -------- 12.6/16.1 MB 2.6 MB/s eta 0:00:02
   -------------------------------- ------- 13.1/16.1 MB 2.6 MB/s eta 0:00:02
   --------------------------------- ------ 13.6/16.1 MB 2.6 MB/s eta 0:00:01
   ----------------------------------- ---- 14.2/16.1 MB 2.6 MB/s eta 0:00:01
   ------------------------------------- -- 14.9/16.1 MB 2.6 MB/s eta 0:00:01
   -------------------------------------- - 15.5/16.1 MB 2.6 MB/s eta 0:00:01
   ---------------------------------------  16.0/16.1 MB 2.6 MB/s eta 0:00:01
   ---------------------------------------- 16.1/16.1 MB 2.5 MB/s eta 0:00:00
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-9.1.0

In [41]:
import mysql.connector
myretail=mysql.connector.connect(host='localhost',user='root',password = 'root')
mycursor=myretail.cursor()

In [43]:
mycursor.execute("use My_retail_order")

In [45]:
order1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   order_id     9994 non-null   int64
 1   order_date   9994 non-null   object
 2   ship_mode    9994 non-null   object
 3   segment      9994 non-null   object
 4   country      9994 non-null   object
 5   city         9994 non-null   object
 6   state        9994 non-null   object
 7   postal_code  9994 non-null   int64
 8   region       9994 non-null   object
 9   category     9994 non-null   object
dtypes: int64(2), object(8)
memory usage: 780.9+ KB

In [47]:
mycursor.execute("create table retailorder1 (order_id int,order_date varchar(20),ship_mode varchar(20),segment varchar(20),country varchar(20),city varchar(20),state varchar(30),postal_code int,region varchar(20),category varchar(20))")

In [49]:
mycursor.execute ('show tables')
for i in mycursor:
    print(i)

('retailorder1',)

In [51]:
mycursor.execute("alter table retailorder1 modify order_id int primary key")

In [53]:
mycursor.execute("create table retailorders2 (order_id int primary key,sub_category varchar(50),product_id char(50),cost_price int,list_price int,quantity int,discount_percent int,discount float,sale_price float,profit float)")

In [55]:
mycursor.execute ('show tables')
for i in mycursor:
    print(i)

('retailorder1',)
('retailorders2',)

In [59]:
mycursor.execute("alter table retailorders2 add CONSTRAINT fr_key FOREIGN KEY (order_id) REFERENCES retailorder1(order_id)")

In [61]:
sql1 = "insert into retailorder1(order_id,order_date,ship_mode,segment,country,city,state,postal_code,region,category)values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)"

In [63]:
variable1= order1.values.tolist()

In [65]:
for i in variable1:
    mycursor.execute(sql1,i)
myretail.commit()

In [66]:
sql2 = "insert into retailorders2(order_id,sub_category,product_id,cost_price,list_price,quantity,discount_percent,discount,sale_price,profit)values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)"
variable2= order2.values.tolist()

In [67]:
for i in variable2:
    mycursor.execute(sql2,i)
myretail.commit()

In [68]:
mycursor.execute("alter table retailorders2 add CONSTRAINT FOREIGN KEY (order_id) REFERENCES retailorder1(order_id)")

In [69]:
mycursor.execute("select product_id, sum(sale_price*quantity) as Highestrevenue from retailorders2 group by product_id order by Highestrevenue DESC LIMIT 10")
myretail=mycursor.fetchall()
for x in myretail:
    print(x)

('TEC-CO-10004722', 245056.0)
('OFF-BI-10000545', 163777.6997680664)
('TEC-MA-10002412', 130406.40234375)
('FUR-CH-10002024', 120090.69921875)
('TEC-PH-10001459', 113041.90002441406)
('TEC-CO-10001449', 107387.99938964844)
('OFF-BI-10003527', 97082.90008544922)
('TEC-MA-10000822', 89622.30053710938)
('FUR-BO-10002213', 84014.80038452148)
('TEC-MA-10001047', 81549.0)